<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.2.0" targetFramework="net45" />
  <package id="Castle.Windsor" version="3.2.0" targetFramework="net45" />
  <package id="EPiServer.CMS.Core" version="7.7.0" targetFramework="net45" />
  <package id="EPiServer.Framework" version="7.7.0" targetFramework="net45" />
  <package id="FeatureSwitch" version="1.2.0" targetFramework="net45" />
  <package id="FeatureSwitch.AspNet.Mvc5" version="1.2.0" targetFramework="net45" />
  <package id="FeatureSwitch.StructureMap.2.6" version="1.0.0" targetFramework="net45" />
  <package id="log4net" version="1.2.10" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="5.0.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.0.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.0.0" targetFramework="net45" />
  <package id="Microsoft.Owin" version="2.0.2" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="5.0.8" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="structuremap" version="2.6.4.1" />
</packages>