<?xml version="1.0" encoding="utf-8"?>

<packages>
  <package id="EPiServer.CMS.Core" version="7.0.586.1" targetFramework="net40" />
  <package id="EPiServer.Framework" version="7.0.859.1" targetFramework="net45" />
  <package id="FeatureSwitch" version="1.0.0.0" targetFramework="net40" developmentDependency="true" />
  <package id="FeatureSwitch.AspNet.Mvc" version="1.0.3.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.Mvc" version="4.0.30506.0" targetFramework="net40" developmentDependency="true" />
  <package id="Microsoft.AspNet.Razor" version="2.0.30506.0" targetFramework="net40" developmentDependency="true" />
  <package id="Microsoft.AspNet.WebPages" version="2.0.30506.0" targetFramework="net40" developmentDependency="true" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net40" developmentDependency="true" />
  <package id="structuremap" version="2.6.4.1" targetFramework="net45" developmentDependency="true" />
</packages>