<?xml version="1.0" encoding="utf-8"?>

<packages>
  <package id="EPiServer.CMS.Core" version="7.0.586.1" targetFramework="net40" />
  <package id="EPiServer.Framework" version="7.0.859.1" targetFramework="net45" />
  <package id="FeatureSwitch" version="1.2.2" targetFramework="net40" />
  <package id="FeatureSwitch.AspNet.Mvc" version="1.2.0" targetFramework="net40" />
  <package id="FeatureSwitch.StructureMap.2.6" version="1.0.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.Mvc" version="4.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.Razor" version="2.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebPages" version="2.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net40" />
  <package id="structuremap" version="2.6.4.1" targetFramework="net40" />
</packages>